language: android
android:
  components:
    - tools
    - build-tools-25.0.0
    - android-25
    - extra-android-m2repository
    - extra-android-support

before_install:
  - chmod +x gradlew
before_script:
  - ./gradlew
script:
  - ./gradlew assembleRelease