<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hansheng.studynote">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".StudyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".bluetooth.BluetoothAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bluetooth.AndroidBluetooth.DeviceListActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>
        <activity android:name=".bluetooth.ChatActivity"/>

        <activity android:name=".WebService.CityActivity"/>
        <activity android:name=".WebService.WeatherActivity"/>
        <service android:name=".service.MsgService">
            <!--<intent-filter>-->
                <!--<action android:name="com.hansheng.studynote.service.MSG_ACTION"/>-->
            <!--</intent-filter>-->
        </service>
        <service android:name=".broadcast.MsgService">
            <!--<intent-filter>-->
            <!--<action android:name="com.hansheng.studynote.broadcast.MSG_ACTION"/>-->
            <!--</intent-filter>-->
        </service>
        <service android:name=".service.MyService"
            android:process=":remote"
            />
        <activity android:name=".OkHttp.OkHttpPostActivity"/>

        <receiver
            android:name=".widget.MyAppWidgetProvider"
            android:icon="@drawable/ic_launcher" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" >
            </meta-data>

            <intent-filter>
                <action android:name="com.example.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service android:name=".music.MusicService"/>
        <service android:name=".music.musicplayer.MusicService1"/>

    </application>

</manifest>